#erro-senha{
  text-align: center;
}

#olho-span:hover, #olho-span-confirm:hover{
    cursor: pointer;
}

.paragrafo-erro{
    margin-left: 5%;
    color: white;
    margin-top: 10px;
}

.caixa-erro{
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    animation: some 3s linear forwards;
}

.caixa-erro i{
    transform: scale(2.0);
    margin-left: 5%;
}

@keyframes some {
    from{
        opacity: 1;
    } to{
        opacity: 0;
    }
}

/* From Uiverse.io by LightAndy1 */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
